{:paths
 ["src" "resources"]

 :deps
 {org.clojure/core.logic {:mvn/version "1.0.0"}}

 ;;; needed for Metabase as a local dep for local development
 :mvn/repos
 {"opensaml" {:url "https://build.shibboleth.net/nexus/content/repositories/releases/"}}

 :aliases
 {:dev
  {:extra-deps
   {io.github.metabase/metabase {:git/tag "v0.50.36" :git/sha "0ca7df3"}}}

  ; clojure -M:clj-kondo --lint src test --debug
  :clj-kondo
  {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2023.10.20"}}
   :main-opts ["-m" "clj-kondo.main"]}}}
