{:paths
 ["src" "resources"]

 :mvn/repos
 {"Exasol" {:url "https://maven.exasol.com/artifactory/exasol-releases"}}

 :deps
 {com.exasol/exasol-jdbc {:mvn/version "7.1.10"}}

 ;; Build the driver with clojure -X:build
 :aliases
 {:build
  {:extra-deps {metabase/metabase-core {:local/root "../metabase"}
                metabase/build-drivers {:local/root "../metabase/bin/build-drivers"}}
   :exec-fn    build-drivers.build-driver/build-driver!
   :exec-args  {:driver      :exasol
                :project-dir "."
                :target-dir  "./target"}}

 ;; Build a jar with test code with
  :test-jar
  {:replace-deps  {}}

  ;; run with `clojure -T:build test-jar`
  :build-test-jar
  {:replace-paths ["test"]
   :replace-deps {}
   :extra-deps {io.github.clojure/tools.build {:git/tag "v0.8.2"
                                               :git/sha "ba1a2bf"}}
   :ns-default build}}

 ;:oss
 ; ;; JDBC driver isn't GPL-compatible
 ;{:replace-deps  {}}
 ;:ee
 ;{}
 }