{:linters {:unresolved-var {; False positive
                            :exclude [honeysql.core/call
                                      honeysql.core/raw
                                      metabase.util.honeysql-extensions/with-type-info]}
           :unresolved-symbol {
                               :exclude [
                                         ; The defdataset macro expects a symbol as dataset name
                                         (metabase.test.data.interface/defdataset)
                                         ; The run-mbql-query macro allows using $field shortcut syntax
                                         (metabase.test/run-mbql-query)
                                         ]}}}